APP_PORT=8080

# Init super admin
INIT_SUPER_ADMIN_EMAIL=admin@credchain.com
INIT_SUPER_ADMIN_PRIVATE_KEY=0x...

# Wallet
WALLET_ENCRYPTION_KEY=32byteencryptionkey123456789012

# Solidity relateds
RPC_URL=http://localhost:8545
RELAYER_PRIVATE_KEY=0x...
AUTHORITY_CONTRACT=0x...
REGISTRY_CONTRACT=0x...

# JWTs
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_HOURS=168

# Postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=credchain
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable

# Postgres connection config
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5m

# Mongo
MONGO_INIT_DB_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_URI=mongodb://${MONGO_INIT_DB_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017

# Gemini
GEMINI_API_KEY=YOUR_GEMINI_API_KEY